body
{
	margin: 0px;
	padding: 0px;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00325b+0,3f78bf+100 */
	background: #00325b; /* Old browsers */
	background: -moz-linear-gradient(top, #00325b 0%, #3f78bf 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #00325b 0%,#3f78bf 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #00325b 0%,#3f78bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00325b', endColorstr='#3f78bf',GradientType=0 ); /* IE6-9 */
	color: #f7f7f7;
}
input[type=submit]
{
	margin: 5px;
	padding: 8px 24px;
	border: none;
	border-radius: 5px;
	color: #ffffff;
}
#content
{
	margin-top: 10px;
}